@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Righteous&family=Titillium+Web:wght@200&display=swap');
@font-face {
    font-family: jhm;
    src: url(/fonts/JmhhalloweenRegular-3gBZ.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url(/Images/g37.png), default; 
}


.nav-hero-bg-img {
    background-image: url(/Images/stars-final-green-01.jpg);
    background-color: #001d3d;
    background-repeat: no-repeat;
}


.navbar {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    top: 0;
    z-index: 10;
    transition: top 0.3s;
}

.navbar h2 {
    display: flex;
    border-radius: 50%;
    box-shadow: 0px 0px 85px 25px rgba(255, 255, 255, 0.8);
}


.navbar h1 {
    color: rgb(64, 190, 240);
    font-size: 60px;
    font-family: 'Vujahday Script', cursive;
}

.navbar ul {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.navbar a {
    color: #39ff14;
    /* background-color: #fff; */
    border-radius: 7%;
    font-size: 40px;
    font-family: jhm;
    transition: all .2s ease-in-out;
    text-shadow: 2px 2px #ff0afb;
    text-decoration: none;
}

.navbar a:hover {
    transform: scale(1.3);
    text-shadow: 2px 2px #39ff14;
    color: #ff0afb;
}


/* Hero */

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-cta {
    font-size: 4rem;
    margin-top: 7%;
    margin-bottom: -5%;
}

.hero-cta a {
    font-family: jhm;
    font-size: 5rem;
    margin-top: 10%;
    background: -webkit-radial-gradient(ellipse farthest-corner at top center, #39ff14 10%, #ff0afb 80%);
    background: -moz-radial-gradient(ellipse farthest-corner at top center, #39ff14 10%, #ff0afb 80%);
    background: radial-gradient(ellipse farthest-corner at top center, #39ff14 10%, #ff0afb 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #39ff14 ;
    text-shadow: 0px 0px 85px red;
   
    text-decoration: none;
    
}

.hero-cta:hover{
    transform: scale(1.3);
    color: #ff0afb; 
   
}

@keyframes h1 {
    0%   {text-shadow: 0px 0px 85px white;}
    15%  {text-shadow: 0px 0px 55px white, 0px 0px 100px #76EBDB;}
    25%  {text-shadow: 0px 0px 55px white, 0px 0px 100px #39ff14;}
    50%  {text-shadow: 0px 0px 55px white, 0px 0px 100px #ff0afb;}
    100% {text-shadow: 0px 0px 55px white, 0px 0px 100px #b429f9;}
  }


.img-1 {
    background-color: transparent;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 50px;
    animation-name: test2;
    animation-duration: 15s;
    position: relative;
}

.carousel-guide {
    display: flex;
    justify-content: center;
    font-family: jhm;
    font-size: 2rem;
    padding-right: 3%;
    background-color: #001d3d;
    color: #39ff14;
    text-shadow: 10px 10px 25px black,0px 0px 55px white;
}
/* Carousel/Nav */

.carousel {
    background-image: url(/images/carousel-wave-01.jpg);
   background-size: cover;
    display: flex;
    justify-content: center;
    
}

.carousel-container {
    max-width: 100vw;
    position: relative;
    margin: 0px 50px;
    padding: 50px 0px;
}

.slides {
    display: none;   
}

.prev,
.next {
    background-color: #b90e86cc;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    /* margin-top: -22px; */
    padding: 16px;
    color: rgba(12, 234, 241, 0.8);
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(12, 234, 241, 0.8);
    color: rgba(185, 14, 134, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


/* Social w Synthwave */

.social {
     background-color: #0e3763; 
    background-image: url(/Images/synthwave-3color-green.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.social-txt {
    display: flex;
    justify-content: center;
    font-family: jhm;
    font-size: 100px;
    padding-right: 3%;
    
    background: -webkit-radial-gradient(ellipse farthest-corner at top center, #39ff14 10%, #ff0afb 80%);
    background: -moz-radial-gradient(ellipse farthest-corner at top center, #39ff14 10%, #ff0afb 80%);
    background: radial-gradient(ellipse farthest-corner at top center, #39ff14 10%, #ff0afb 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.links {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.dots {
    text-align: center;
}

.image1 {
    background-image: url('/Images/218110705_105767088452949_65679157053142834_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
  
}

.image2 {
    background-image: url('/Images/218975515_109409331422058_1720330881583628914_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
    width: 100%;
}

.image3 {
    background-image: url('/Images/nona-logo-white.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
}


/* Footer */

.footer {
    height: 120px;
    display: flex;
    justify-content: space-around;
    font-family: 'Righteous', cursive;
    text-shadow: 0px 0px 24px #a01a7d, 0px 0px 78px #39a8c3e6, 0px 0px 56px white;
    color: rgba(255, 255, 255, .7);
}

.footer-container {
    background-image: url(/Images/3color-wave.jpg);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}

.footer-container a {
    font-size: 15px;
    color: white;
}

.nona-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 25px;
}

.nona-footer-img {
    background-image: url(/Images/nona_logo_2.5x2.5.png);
    background-size: cover;
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
}

.copyright {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: center;
}

.copyright a {
    padding-bottom: 20px;
}

.mbd-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    margin: 10px 25px;
}

