@font-face {
    font-family: jhm;
    src: url(/fonts/JmhhalloweenRegular-3gBZ.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/Images/synthwave_orange_nona.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #272024;
}

.navbar {
    background-color: #272024;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.navbar h2 {
    display: flex;
    border-radius: 50%;
    background-color: #fff;
}

.navbar h1 {
    color: rgb(64, 190, 240);
    font-size: 40px;
    font-family: 'Vujahday Script', cursive;
}

.navbar ul {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.navbar a {
    color: #fff;
    /* background-color: #fff; */
    border-radius: 7%;
    font-size: 25px;
    font-family: jhm;
    transition: all .2s ease-in-out;
}

.navbar a:hover {
    transform: scale(1.3);
    /* background-color: #f754eb; */
    color: orange;
    text-shadow: 2px 2px rgba(57, 168, 195, 0.9);
}


/* Hero */

.social-txt {
    display: flex;
    justify-content: center;
    font-family: jhm;
    font-size: 100px;
    padding-right: 3%;
    color: orange;
    text-shadow: 4px 4px 5px rgba(10, 130, 141, 0.7);
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.section-item1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-item2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}